*{
    margin: 20px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: #f1f3e0 ;
    
}

.background {
    width:500px;
    top : 100px;
    bottom :200px;
    background-color: #A1BC98;
    border-radius: 12;
    padding: 30px 30px;
}

.background h1{
    font-size : 36px;
    text-align: center;
    color: #778873
    
}

.background .input-box{
    align-items: center;
    width : 100%;
    height: 50px;
    background-color : #D2DCB6;
    margin: 30px 5px;
}
.input-box input{
    width: 80%;
    background:  transparent;
    border : none;
    outline: none;
}
.input-box input::placeholder{
    color: #fff;
    text-align: left;

}
.background .btn{
    width :100%;
    height: 45px;
    background : #fff;
    border: none;
    outline: none;
    box-shadow : 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size : 16px;
    color: #778873 ;
    font-weight: 600;
    margin: 20px 0 15px;
    border-radius : 40px;
}
